@attribute [Route(Index.Route)]
@layout EmptyLayout

@inject NavigationManager NavigationManager;

<div class="d-flex justify-center align-center" style="height: 100vh">
    <MudStack AlignItems="AlignItems.Center">
        <MudIcon Icon="@Icons.Material.Filled.Notes" Color="Color.Primary" Style="font-size:120" />
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
    </MudStack>
</div>
